<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- Servidor SQL. Vacío = autodetectar (LocalDB y luego .\SQLEXPRESS).
             Ejemplos: (localdb)\MSSQLLocalDB   o   .\SQLEXPRESS -->
        <add key="SqlServer" value="" />
    </appSettings>
</configuration>
